<!DOCTYPE html>
<html>

	<head>
		<title>Ryan Magani</title>
		<meta charset="UTF-8">
		<meta name="description" content="Software Engineer studying Computer Science and Business Administration at the University of Washington">
		<meta name="keywords" content="ryan,magani,ryanmagani">
		<meta name="author" content="Ryan Magani">
		<link rel="icon" type="image/ico" href="img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/compressed.css">
	</head>

	<body ng-app="PersonalWebsite" ng-controller="Main">

		<div>

			<header>
				<h1>Ryan Magani</h1>
			</header>

			<nav>
				<ul class="nav nav-tabs">
					<li ng-class="{active: selected == TabEnum.ABOUT}"><a ng-click="selected = TabEnum.ABOUT">About</a></li>
					<li ng-class="{active: selected == TabEnum.PROJECTS}"><a ng-click="selected = TabEnum.PROJECTS">Projects</a></li>
					<li ng-class="{active: selected == TabEnum.RESUME}"><a ng-click="selected = TabEnum.RESUME">Resume</a></li>
				</ul>
			</nav>

			<!-- About -->
			<section ng-show="selected == TabEnum.ABOUT" class="tab-pane fade">
				<ul id="info-list">
					<li><a href="mailto:info@ryanmagani.com">info@ryanmagani.com</a></li>
					<li><a href="https://www.linkedin.com/in/ryanmagani">LinkedIn</a></li>
					<li><a href="https://github.com/ryanmagani/">GitHub</a><li>
				</ul>
				<img src="img/main.jpg" alt="Ryan Magani" height="200" width="162">
				<p>My name is Ryan Magani. I am a student pursuing degrees in Computer Science and Business Administration at the University of Washington and will graduate in March of 2016.</p>
				<p>I interned at Cobalt from June through August of 2014. Over the summer I developed the front- and backend of a web application used by Cobalt's customer service to manage which cars appear on a dealership's website. The backend performed CRUD operations to alter these inventories and exposed RESTful endpoints with which to be interfaced. The frontend was written in Angular and was designed based on feedback and needs of Customer Service teams.</p>
				<p>I'm interested in computer science because I find that it presents an enjoyable challenge. Taking a complex problem and creating a set of instructions to solve it is often difficult, and this process and its result are greatly rewarding to me.</p>
				<p>I am also studying business admin because I have come to realize that any work I do will involve others and having the ability to professionally communicate with my peers and work well in teams is invaluable.</p>
				<p>Feel free to contact me if you have any questions.</p>
			</section>

			<!-- Projects -->
			<section ng-show="selected == TabEnum.PROJECTS" class="tab-pane fade" ng-controller="Projects" id="projects">
				<ul ng-show="projectList">
					<li ng-repeat="project in projectList"><a href="{{project.html_url}}">{{project.name}}</a>: {{project.description}}</li>
				</ul>

				<div ng-show="errorMessage">
					<p>See my projects on <a href="https://github.com/ryanmagani?tab=repositories">GitHub</a></p>
				</div>
			</section>

			<!-- Resume -->
			<section ng-show="selected == TabEnum.RESUME" class="tab-pane fade">
				<object data="docs/Ryan%20Magani%20Resume.pdf" type="application/pdf">
					<p>It appears you don't have a PDF plugin for your browser, please <a href="docs/Ryan%20Magani%20Resume.pdf">download</a> the file to view it</p>
				</object>
				<div>
					<a href="docs/Ryan%20Magani%20Resume.pdf">Direct Link</a>
				</div>
			</section>

		</div>

		<script src="js/compressed.js"></script>
	</body>

</html>